.links{
    text-align:left;
    /*position: absolute;*/
    bottom: 13%;
    margin-left: 40px;
    overflow: hidden;
}

@media screen and (max-height: 700px) {
    .links {
        z-index: -12;
    }
}

.link{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 400;
}

.link:hover{
    color: #4453AD;
}


.List {
    padding-top: 7%;
}

