.links{
    margin-left:125px;
    margin-top:30px;
}

@media screen and (max-height: 700px) {
    .links {
        z-index: -12;
    }
}

.link{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 400;
}

.link:hover{
    color: #4453AD;
}

