.imageCSS{
    width: 28px;
    height:  28px ;
    display:  inline-block ;
    padding-top: 5px;
    padding-left: 1px;
    padding-right: 2px;
}



@media screen and (max-height: 700px) {
    .maindiv
    {
        z-index: -12;
    }
}
.maindiv {
    /*position: fixed;*/
    bottom: 5%;
    margin-left: 35px;
}