.pairInfo-item {
  width: 95%;
  margin: 10px;

  margin-top: 15px;
  min-width: 30px;
  border: 1px solid rgb(94, 80, 80);
  height: 80px;
  min-height: 50px;
  border-radius: 20px;
  margin: 1rem 0;
}

.pairInfo__description {
  width: 22%;
  height: 10px;
  margin-left: 5px;
  display: inline-block;
  color: blanchedalmond;
}
