@media only screen and (max-width: 1920 ) and (min-width: 1465) {
    .boxSize {
        width: 100%;
        background: rgba(255, 255, 255, 0.16);
        border-radius: 10px;
        border: 5rem;
        position: absolute;
        box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(35px);
        box-sizing: border-box;
    }
}