/*@media only screen and (max-width: 1920px ) and (min-width: 1465px) {*/
/*    .boxSize {*/
/*        width: 100%;*/
/*        background: rgba(255, 255, 255, 0.16);*/
/*        border-radius: 10px;*/
/*        border: 5rem;*/
/*        position: absolute;*/
/*        box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.1);*/
/*        backdrop-filter: blur(35px);*/
/*        box-sizing: border-box;*/
/*    }*/
/*}*/

/*@media only screen and (max-width: 1920px ) and (min-width: 1465px) {*/
@media only screen and (max-width: 1050px) and (min-width: 300px) {

    .price-title {
        padding-left: 55px;
    }

    .price {
        padding-left: 30px;
        text-align: center;
    }
}


.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none;
    color: black!important;
    /*change the hover text color*/
}


/*below block of css for change style when active*/

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background: none;
    color: black!important;
}
